https://localhost:443 {
	#@options {
#		method OPTIONS
#	}

#	respond @options 204
	reverse_proxy https://localhost:5043

	# header /see {
	# Access-Control-Allow-Origin *
	# }
	encode gzip
	log {
		output stdout
		format console
	}
}
